*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin:0;
  }
  .logo {
    text-align: center;
    margin-top: 40px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  nav li {
    margin: 20px 0 0;
    font-size:30px;
    font-weight: bold;
    padding: 30px 20px;
  }
  nav li:hover{
    background-color: #b3e5fc;
  }
  main {
    background-image: url("/image/background.jpg");
  }
  .container {
    width: 83%;
    margin: auto;
  }
  .blocchiPasta {
    display: flex;
    flex-wrap: wrap;
  }

  .img-pasta {
    height: 300px;
    margin: 10px;
    transform-origin: 50% 50%;
    transition: transform 1s, filter .5s ease-out;
  }

  .single-box {
      height: 300px;
      overflow: hidden;
      position: relative;

  }
  .overlay {
      display:none;
      text-align: center;
      width: 100%;

  }
  .single-box:hover .overlay{
      display: block;
      position: absolute;
      top: 50px;
      left: 0;      
  }

  .img-pasta:hover {
    transform: scale(1.5);
    filter: opacity(50%);
    filter: blur(20px);
    transition: all 2s;

  }
  
  .titolo {
      font-size: 30px;
      margin-bottom: 40px;
      color: white;
      text-transform: uppercase;
  }

  .icon {
      width: 30px;
  }

 

  h2 {
    font-size: 45px;
    color: #20477D;
    padding: 50px 0 20px 10px;
  }
  .container-footer {
    width: 82%;
    background-color: red;
    margin: auto;
    height: 300px;
  }
  footer ul {
    display: flex;
    justify-content: space-between;
  }