* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  text-align: center;
  margin-top: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 20px;
}

nav li a {
  color: black;
}

nav li:hover,
nav li:active {
  background-color: #b3e5fc;
}

.main {
  background-image: url("/image/background.jpg");
  padding-bottom: 50px;
}

.container {
  width: 83%;
  margin: auto;
}

.blocchiPasta {
  display: flex;
  flex-wrap: wrap;
}

.img-pasta {
  height: 300px;
  margin: 10px;
}

.single-box {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.overlay {
  display: none;
  text-align: center;
  width: 96%;
  background: rgba(0, 0, 0, 0.5);
  height: 97%;
  margin-top: 5px;
}

.single-box:hover .overlay {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}

.single-box:hover {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.titolo {
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.icon {
  width: 30px;
}

footer {
  margin-top: 80px;
  color: #A6ACB7;
  font-size: 22px;
}

h2 {
  font-size: 45px;
  color: #20477D;
  padding: 50px 0 20px 10px;
  width: 100%;
  text-transform: uppercase;
}

.container-footer {
  width: 82%;
  margin: auto;
  margin-bottom: 50px;
}

footer ul {
  display: flex;
}

footer a {
  color: #A6ACB7;
}

.servizi {
  flex-direction: column;
}

.f-logo {
  width: 30%;
}

.f-logo img {
  width: 80%;
}

.f-pastificio {
  margin-left: 55px;
  margin-top: 20px;
}

.head-list {
  font-size: 30px;
  font-weight: bold;
}

footer a {
  font-size: 20px;
  margin-top: 10px;
  font-weight: normal;
}

.f-chef {
  margin-left: 200px;
  margin-top: 20px;
}

.prodotti {
  margin-top: 30px;
}

.footer-bottom {
  background-image: url("/image/footer-montagne-bottom.jpg");
  height: 130px;
}

.primoblocco {
  position: relative;
  display: flex;
  justify-content: center;
}

.primoblocco img {
  width: 100%;
}

.primoblocco .prodotto-page-titolo {
  position: absolute;
  color: #002D73;
  top: 40px;
  font-size: 40px;
}

.prodotto-page-img {
  width: 100%;
}

.main-prodotto-page {
  background-color: #B8DAE4;
  position: relative;
}

.main-prodotto-page .prodotto-page-descrizione {
  color: #1D4885;
  font-size: 30px;
  padding-bottom: 30px;
}

.main-prodotto-page .prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.main-prodotto-page .prev i {
  font-size: 60px;
  color: white;
  background-color: #abd1dd;
  padding: 10px 15px 10px 10px;
}

.main-prodotto-page .next {
  position: absolute;
  top: 50%;
  right: 0;
}

.main-prodotto-page .next i {
  font-size: 60px;
  color: white;
  background-color: #abd1dd;
  padding: 10px 10px 10px 15px;
}

